* {
  /* RESET-------------*/
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Press Start 2P", cursive;
}

body {
  height: 100vh;
  background:
        /* top, transparent black, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */
      url("../w3_rock-paper-scissors-eemeelyo/img/Background.jpg") no-repeat
      center center/cover;
}

header {
  text-align: center;
  max-width: 1200px;
  margin: 20px auto;
  line-height: 50px;
}

h1 {
  background-color: aqua;
  opacity: 0.8;
}

#playersHands {
  margin: 100px 0 0 0;
}
.flex-container {
  display: flex;
  justify-content: center;
}
.leftHand {
  padding: 20px;
}
.rightHand {
  padding: 20px;
}

#scores {
  color: white;
  text-align: center;
}

.scoreLabel {
  padding: 50px;
}
p {
  padding: 20px;
}
